/* hero animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-shake {
  animation: shake 3s ease-in-out infinite;
}






.overflow-hidden {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 1rem 0;
}

/* Marquee wrapper */
.marquee {
  display: flex;
  gap: 6rem; /* Add space between the cards */
  animation: marquee 20s linear infinite;
  will-change: transform;
}

/* Logo cards with rectangle and shadow */
.logo-card {
  flex: 0 0 auto; /* Prevent shrinking and ensure proper spacing */
  width: 180px;
  height: 100px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px 5px rgba(199, 181, 107, 0.322);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo-card img {
  max-width: 80%; /* Adjust size of the logos */
  max-height: 80%; /* Prevent overflow of images */
  object-fit: contain;
}

/* Keyframes for continuous scrolling */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Duplicate marquee for seamless effect */
.marquee:after {
  content: '';
  display: inline-block;
  width: 100%;
}





/* testimonial */
/* General Styles for Testimonials */
#reviewSlider {
  width: 40%;
  display: flex;
  height: auto; /* Change from 500px to auto */
}

.testimonial {
  min-width: 100%;
}

.testimonial {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.testimonial:hover {
  transform: translateY(-10px);
}
